@import "~styles/variables";

.message {
  $self : &;
  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 18px;
    position: relative;
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    img, div {
      border-radius: 50px;
      width: 33px;
      height: 33px;
      margin-right: 13px;
      margin-bottom: 10px;
    }
  }

  &__bubble {
    background: $blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
    &--typing {
      display: flex;
      span {
        height: 12px;
        width: 12px;
        margin: 0 3px;
        background-color: #fff;
        border-radius: 50%;
        opacity: 0.4;
        &:nth-child(1)
        {
          animation: 1s blink infinite .3333s;
        }

        &:nth-child(2)
        {
          animation: 1s blink infinite .6666s;
        }

        &:nth-child(3)
        {
          animation: 1s blink infinite .9999s;
        }
      }
    }
    &--audio {
      position: relative;
      overflow: hidden;
      #{$self}__audio {
        width: 200px;

        &-info  {
          display: flex;
          align-items: center;
         justify-content: space-between;
          position: relative;
          audio {
            display: none;
          }
        }
        &-btn {
          button {
            background: #0f3997;
            padding: 7px;
            border-radius: 30px;
            border: none;
          }
        }
        &-wave {
          img {
            width: 100px;
          }
        }
        &-duration {
          color: white;
          font-weight: 500;
          opacity: 0.5;
          font-size: 12px;
        }
        &-progress {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #418fff;
          height: 100%;
          transition: width 0.3s ease-in-out;
        }
      }
    }
  }

  &__attachments {
    display: flex;
    margin-bottom: 5px;
    &-item {
      margin-right: 5px;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.5;
  }

  &__text {
    color: #fff;
    line-height: 20px;
  }

  &__icon-readed {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 22px;
    left: -25px;
    &--no {
       position: absolute;
      bottom: 22px;
      width: 13px;
      height: 13px;
      left: -24px;

    }
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }
    #{$self}__avatar {
      margin-right: 0;
      margin-left: 13px;
    }
    #{$self}__info {
     text-align: right;
    }
    #{$self}__bubble {
     background: #fff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);
      border-radius: 12px 12px 0px 12px;
      #{$self}__text {
        color: black;
      }
    }

  }

  &--image {
    #{$self}__attachments-item img {
      height: 150px;
      width: 150px;
    }

  }



}


@keyframes blink
{
  50%
  {
    opacity: 1;
  }
}
